extends ../node_modules/jade-bootstrap/_bootstrap

block body
	//Navigation
	+navbar("The Colenso project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/Browse") Browse
		+nav_item("/Search","active") Search using plain text
		+nav_item("/XquerySearch") Search using Xquery
	.container
		//Search bar
		form.form-group(action="/search", method="get")
			input.input-block-level(type="text", name="mysearch", placeholder="Query")
			button.btn.btn-large(type="submit") Submit

		//Explaining how to search
		p| To search the Colenso database, simply type in any text string for example 'Wellington'. This will then show all files in the database that contain this text string. Logical operators like AND, OR, NOT are not yet supported.

		//Page content
		h1= title
		.container
		p| Welcome to #{title}.

		if (query_results)
			p| Files that contain the term(s): #{query_term}.

			.search-results
			ul
			each val in query_results
				li
					a(href="/Colenso/#{val}") #{val}
